<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ros_tutorial)/urdf/robot_tutorial.xacro"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!--RViz-->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find ros_tutorial)/rviz/main.rviz" />

  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_tutorial)/worlds/generation_yfdsbr0fpx9p_world_20/generation_yfdsbr0fpx9p_world_20.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!--Gazebo Simulator-->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot_tutorial" output="screen"/>

</launch>